body{
	font-family: 'Roboto', sans-serif;
}
header{
	height: 200px;
}
.bg_black{
	background:url(img/slider.png);
	height:182px;
	background-repeat: no-repeat;
	background-size: cover;
}
.p p{
	display: flex;
	justify-content: center;
	align-items:center;
	font-weight: 300;
	font-size: 19px;
	color: white;
	letter-spacing: 1px;
	margin-top: 50px;
}
.p1 p{
	display: flex;
	justify-content: center;
	align-items:center;
	font-weight: bold;
	font-size: 19px;
	color: white;
	letter-spacing: 1px;
}
.slick-prev:before,.slick-next:before{
	color: #444;
}
.bg_white{
	background: white;
	height: auto;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
.title h2{
	font-weight: lighter;
	text-align: left;
	font-size: 19px;
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: 14px;
}
.title h2:after{
	content: "";
	width: 85px;
	height: 2px;
	background: #fed6e3;
	display: block;
	margin-top: 5px;
}
.bg_white img{
	padding: 7px;
}
#uno{
	height: 328px;
	width: 493px;
}
#dos{
	height: 328px;
	width: 311px;
}
#tres{
	height: 328px;
	width: 323px;
}
#cuatro{
	height: 328px;
	width: 663px;
}
#cinco{
	height: 328px;
	width: 465px;
}
.portada2-about{
            background-image: url(img/girl.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .acerca{
            height: 517px;
            position: relative;
            display: block;
            width: 100%;
            margin: 0px 0px;
        }
        .box-content-text{
            margin: 120px 150px;
            width: 555px;
        }
        .box-content-text h3{
            font-size: 30px;
            font-weight: bold;
        }
        .box-content-text ul{
            list-style: none;
            margin-top: 40px;
        }
        .box-content-text ul li{
            display: flex;
            margin: 10px 0px;
        }
        .box-content-text ul li i{
            margin-right: 18px;
        }
        .box-content-text ul li p{
            font-size: 14px;
            font-weight: 100;
            margin: 5px 0px;
        }
        #move{
        	margin-top: 7px;
        }
.img_contact{
	align-content: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
.img_contact img{
	padding: 0px 115px;
	margin-top: 30px;
}
.contact{
	align-content: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
.contact label{
	height: 130px; 
	width: 230px;
	text-decoration: none;
	color: black;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	line-height: 200px;
	margin-top: -52px;
	margin-bottom: 120px;
}
#margen{
	margin-right: 100px; 
}
.bg_final{
	background-color: #1e1e1e;
	height: 140px;
	width: 100%;
}